
@{
    ViewBag.Title = "Index";
}

<h2>Employee Form</h2>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-offset-3">
                <div class="form-group">
                    <label for="Name">First Name</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="FirstName" autocomplete="off" required=""/>
                </div>
                <div class="form-group">
                    <label for="Name">Middle Name</label>
                    <input type="text" class="form-control" id="MiddleName" placeholder="MiddleName" autocomplete="off" required=""/>
                </div>
                <div class="form-group">
                    <label for="Name">Last Name</label>
                    <input type="text" class="form-control" id="LastName" placeholder="LastName" autocomplete="off" required=""/>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="Name">DOB</label>
                        <select name="days" id="Days" class="form-control" required="">
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>

                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>

                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="Months" id="Months" class="form-control"  style="margin-top:25px" required="">
                            <option value="">Select</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="Years" id="Years" class="form-control" style="margin-top:25px" required="">
                            <option value="">Select</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Country">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email" autocomplete="off" required="" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

